/* STYLE FOR ALL PAGES*/
#divcontainer{
    width:100%;
    display:block;
    margin: auto;
    background-color: rgb(176, 185, 185);
}
#divbanner{
    width:100%;
    height:150px;
    border:1px solid turquoise;
    border-radius: 5px;
    display:flex;
    flex-direction: row;
}
#divbannerlogo{
    width:12.7%;
    height:100%;
    background-image: url(images/logo.png);
    background-repeat: no-repeat;
    background-size: 100%;  
 }
#divbannerdetail{
    width:86.3%;
    height:100%;
    background-image: url("images/banner.jpg") ;
    background-repeat: no-repeat;
    background-size: 100%;
}
#sitetitle{
    text-align: center;
}
#sitemotto1{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font: bold;
}
#sitemotto2{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font: bold;
    }
    #divmenu{
        text-align: center;
        font-size: xx-large;
        font-family: 'Times New Roman', Times, serif;
        word-spacing: 25px;
        background-color: rgb(176, 185, 185);
    }
    #divsocialmedia>a>img{
        border-radius: 50%;
        background-color: rgb(176, 185, 185);
    }
    #divthankyou{
        background-image: url(images/thanks.jpg);
    }
    #divfooter{
        word-spacing: 7px;
        text-align: center;
        background-color: rgb(131, 139, 139);
    }
    /*INDEX PAGE*/
    #maincontent{
        width:100%;
        height:340px;
        display:flex;
        flex-direction: row;
       }
       #img1{
           border-radius: 50px;
           width: 45%;
           height: 100%;
        }
       #img1details{
          width:55%;
          height:100%;
          
       }

       #img1details2{
           text-align: center;
           font-size: 40px;
           padding-top: 50PX;

       }
       #divsidebar{
        width:100%;
        height:340px;
        display:flex;
        flex-direction: row;
        padding: 50px;
       }
       .divsidebar{

           width: 33.3%;
           height: 100%;
           padding-left: 10px; 
           padding-left: 10px;
       }
       
       .siderbar-img{
           border-radius: 20px;
       }
       #footer-details{
           text-align: center;
           font-size: 30px;
           font-style: italic;
       }
       .index-links{
           color: royalblue;
           
       }
       .index-detail{
           text-align: center;
       }
       #contacts:link, #contacts:visited{
           background-color: royalblue;
           color: white;
           padding: 14px 25px;
           text-align: center;
           text-decoration: none;
           display: inline-block;
       }
       #contacts:hover,#contacts:active{
           background-color: slateblue;
       }
       /* ABOUT PAGE*/
       #divhistory{
        width:100%;
        height:340px;
        display:flex;
        flex-direction: row;
       }
       #img2{
           border-radius: 10px;
           width: 45%;
           height: 100%;
        }
       #historydetails{
          width:55%;
          height:100%;
          text-align: center;
          margin: 10px;
          padding: 10px;
       }
       #divfunfacts{
         text-align: center;
         font-size: 20px;
       }
       #tbl-top5{
           width: 100%;
           height: 60vh;
           border-collapse: separate;
           
       }
       #tbl-top5 tr:first-child>td:first-child{
           width: 50%;
           height: 50%;
        }

        #tbl-top5 tr>td:not(#tbl-top5 tr:first-child>td:first-child){
           width: 25%;
           height: 25%;
        }
        .top5{
           background-repeat: no-repeat;background-size: 100% 100%; 
           opacity: 0.90;

        }
        .top5-text{
            text-align: center;
            color: white;
        }
        /* LIFESTYLE*/
        #lifestyle{
            width: 100%;
            background-color: rgb(173, 173, 221);
        }
        #section1{
            width: 100%;
            display:flex;
            flex-direction: row;
        }
        #food{
            width: 75%;
            height: 100%;
            padding: 10px;
            margin: 10px;
            background-color: rgb(238, 236, 226);
        }
        #dress{ 
            width: 75%;
            height: 100%;
            padding: 10px;
            margin: 10px;
            background-color: rgb(238, 236, 226);
        }
        #food-img{
            width: 520px;
            height: 490px;
        }
        #dress-img{
            width: 520px;
            height: 490px;
        }
        #fd-img{
            text-align: center;
        }
        #ds-img{
            text-align: center;
        }
        .text{
            text-align: center;
        }
        .lifestyle-heading1{
            font-size: 40px;
            color: rgb(29, 29, 58);
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            
        }
        .lifestyle-heading2{
            font-size: 18px;
            color: rgb(92, 92, 165);
            font: italic;
            
        }
        .lifestyle-heading3{
            color: blue;
            font: bold;
        }
       /* EVENTS PAGE*/ 
       #events-content{
        width: 100%;
        height: 100%;
        background-color: whitesmoke
       
    }
    #divheading{
        text-align: center;
    }
    #heading1{
        font-size: 50px;
        color: red;
    }

    .event-left{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row
    }
    .event-right{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row-reverse
    }          
    .events-img{
        width: 50%;
        height: 100%;
    }
    .event-details{
        width: 55%;
        height: 100%;
        text-align: center;
    }
   
    #event1-img{
        width: 720px;
        height: 420px;
    }
    #event2-img{
        width: 665px;
        height: 420px;
    }
    #event3-img{
        width: 720px;
        height: 420px;
    }
    #event4-img{
        width: 665px;
        height: 420px;
    }
    #event5-img{
        width: 720px;
        height: 420px;;
    }
    .head{
        font-size: 50px;
        color: red;
    }
    .tail{
        font-size: 18px;
    }
    /* CONNECT PAGE*/
    #divcontentConnect{
        background-image: url(images/connect.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: top;
        
    }

    #divform{
        max-width: 500px;
        margin: 2px auto;
        padding: 2px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: medium;
        font: bold;
       
    }
    .label{
        display: block;
        padding: 3px 3px;
        text-transform: uppercase;
    }
    .input{
        width: 75%;
        display: block;
        border: cadetblue;
        padding: 2px;
        border-radius: 2px;
    }
    
    #submit{
        border: 0px;
        background-color: aqua;
        padding: 5px; 
        color: rgb(12, 10, 10);
        margin: 1rem;
        text-transform: uppercase;
        
    }
    #reset{
        border: 0px;
        background-color: aqua;
        padding: 5px; 
        color: rgb(12, 10, 10);
        margin: 1rem;
        text-transform: uppercase;
        
    }
    /* THANK YOU PAGE*/
    #divcolcontainer{
        background-color: rgb(177, 175, 173);
    }       
    #divthankyou{
        text-align: center;
        line-height: 300px;
    }
    #divthanksdetails{
        text-align: center;
        font-style: normal;
        font-family: Arial, Helvetica, sans-serif;
    }
    #exitbutton{
        text-align: right;
        font-size: x-large;
    }
        

       


